:root {
  --footer-text-color: #F4F4FD;
}
.footer-text {
  color: var(--footer-text-color);
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #fff;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, p {
  margin: 0;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav-list a,
.contact-info a {
  font-style: normal;
}

.contact-list {
  list-style: none;
  margin: 0;
  }

.contact-list li {
  float: left;
  margin-right: 40px;
}

.contact-list li:last-child {
  margin-right: 0;
}

/* Добавляем clearfix, чтобы контейнер не схлопывался */
.contact-list::after {
  content: "";
  clear: both;
}

.site-header {
  background-color: #ffffff;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-right: 156px;
  padding-bottom: 24px;
  padding-left: 156px;
  overflow: hidden; /* чтобы обернуть float-элементы */
}

/* Левая часть — логотип и меню */
.header-nav {
  float: left;
  font-weight: 500;
  margin: 0;
 }

/* Правая часть — контакты */
.contact-info {
  float: right;
  font-weight: 500;
  margin: 0;
  
}

/* Убираем маркеры у списков */
.nav-list,
.contact-list {
  list-style: none;
  margin: 0;
  
}

/* Элементы меню и контактов — в строку через float */
.nav-list li,
.contact-list li {
  float: left;
  margin-right: 40px;
}

/* Убираем правый отступ у последнего элемента */
.nav-list li:last-child,
.contact-list li:last-child {
  margin-right: 0;
}

/* Очистка потока */
.site-header::after {
  content: "";
  clear: both;
  visibility: hidden;
  }

.nav-list,
.nav-link,
.header-nav {
  font-weight: 500;
  margin: 0;
  list-style: none;
  overflow: hidden; /* Чтобы родитель оборачивал плавающие элементы */
}

.nav-list > *,
.nav-link > *,
.header-nav > * {
  float: left;
  margin-right: 40px; /* отступ справа */
}

/* Убираем отступ у последнего элемента */
.nav-list > *:last-child,
.nav-link > *:last-child,
.header-nav > *:last-child {
  margin-right: 0;
}


.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo .logo-part {
  color: #2e2f42;
}

.nav-list a{
  color: #2e2f42;
}

.contact-info {
  font-size: 16px;
  font-style: normal;
  margin: 0;
 list-style: none;
  overflow: hidden; /* чтобы контейнер оборачивал плавающие элементы */
}

.contact-info > * {
  float: left;
  margin-right: 40px; /* отступ справа для всех, кроме последнего */
}

/* Убираем отступ у последнего элемента */
.contact-info > *:last-child {
  margin-right: 0;
}

.contact-info a {
  color: #434455;
  font-weight: 400;
  vertical-align: middle; /* выравнивание по вертикали */
}

.nav-list a:hover,
.nav-list a:focus,
.contact-list a:hover,
.contact-list a:focus {
  color: #404bbf;
}


.hero {
  text-align: center;
  background-color: #2E2F42;
  color: white;
  padding-top: 120px;    /* верхний отступ */
padding-right: 20px;   /* правый отступ */
padding-bottom: 120px; /* нижний отступ */
padding-left: 20px;   
  max-height: 600px;
  line-height: 1.07;
}
.values {
  margin-top: 60px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}

.btn-services {
  background-color: #4D5AE5;
  color: white;
  padding-top: 16px;    /* верхний отступ */
  padding-right: 32px;  /* правый отступ */
  padding-bottom: 16px; /* нижний отступ равен верхнему */
  padding-left: 32px; 
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
}

.btn-services:hover,
.btn-services:focus {
  background-color:#404BBF;
}

.values-list {
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 156px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  overflow: hidden; /* чтобы родитель оборачивал плавающие элементы */
}

.values-list > * {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  max-inline-size: calc((100% - 3 * 24px) / 4); /* ширина с учётом 3 промежутков по 24px */
  
}

/* Убираем правый отступ у каждого 4-го элемента */
.values-list > *:nth-child(4n) {
  margin-right: 0;
}


.portfolio-list li h3,
.team-subtitle,
.value-title {
  margin-bottom: 8px;      
  font-weight: 500;        
  font-size: 20px;         
  line-height: 1.2;        
  letter-spacing: 0.02em;  
  color: #2e2f42;          
}

.value-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.values-list article {
  max-width: 264px;
}

.team-list {
  background-color: #F4F4FD;
  padding-top: 60px;      /* заменяет верхний отступ */
  padding-right: 156px;   /* заменяет правый отступ */
  padding-bottom: 120px;  /* заменяет нижний отступ */
  padding-left: 156px;    
  text-align: center;
  max-height: 732px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 60px;
  }

.team-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #2E2F42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list ul {
  margin: 0;
  list-style: none;
  overflow: hidden;       /* оборачивает плавающие элементы */
  text-align: center;     /* центрирует контейнер */
}

.team-list ul > * {
  float: left;
  margin-right: 24px;     /* отступ справа */
  margin-bottom: 24px;    /* отступ снизу */
 }

/* Убираем правый отступ у каждого 4-го элемента */
.team-list ul > *:nth-child(4n) {
  margin-right: 0;
}

.list-item {
  background-color: #fff;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-top-left-radius: 0;
border-top-right-radius: 0;
  overflow: hidden;
  padding-top: 0;         /* если верхний padding не задан, можно явно поставить 0 */
  padding-right: 0;       /* если правый padding отсутствует */
  padding-bottom: 16px;   /* заменяет padding-bottom */
  padding-left: 0;
  max-width: 264px;
  justify-items: center;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(to bottom, transparent 99%, #ccc 100%); /* вместо border-bottom добавлена цветная линия фоном */
background-repeat: no-repeat; /* запрет повторения фона */
background-size: 100% 1px; /* фон занимает всю ширину и 1px высоты */
background-position: bottom; /* фон располагается внизу */
padding-bottom: 17px; /* добавлен отступ снизу, чтобы не перекрывать линию */
}
/* Добавляем отступы между непосредственными дочерними элементами */
.list-item > * + * {
  margin-top: 10px;
}

.list-item img {
  float: left; /* Заставляет элемент вести себя как блочный, убирает нижние пробелы */
  inline-size: 100%; /* Вместо inline-size: 100%, чтобы изображение занимало всю ширину контейнера */
  block-size: auto; /* Вместо block-size: auto для сохранения пропорций */
  object-fit: cover;
 }


.portfolio-list {
  padding-top: 60px;     /* верхний отступ */
  padding-right: 156px;  /* правый отступ */
  padding-bottom: 60px;  /* нижний отступ равен верхнему */
  padding-left: 156px;  
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  color: #2E2F42;
  margin-top: 60px;
}

.portfolio-link {
  font-size: 36px;
  margin-bottom: 40px;
  color: #2E2F42;
  letter-spacing: 0.02em;
}

.portfolio-list ul {
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden; /* чтобы контейнер учитывал плавающие элементы */
  text-align: left;
}

.portfolio-list ul > li {
  float: left;
 max-inline-size: 360px;
  margin-right: 24px;
  margin-bottom: 24px;
  text-align: left;
  border: 1px solid #E7E9FC;
  background-color: #fff;
  background-image: linear-gradient(to bottom, transparent 99%, #ccc 100%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
  padding-bottom: 17px;
  
}

/* чтобы убрать правый margin у последнего элемента в строке (если в строке 3 элемента) */
.portfolio-list ul > li:nth-child(3n) {
  margin-right: 0;
}

/* clearfix для ul */
.portfolio-list ul::after {
  content: "";
  clear: both;
}

.portfolio-list li > * + * {
  margin-top: 10px;
}

.portfolio-list li img {
  inline-size: 100%;
  block-size: auto;
  margin-bottom: 0;
  vertical-align: top; /* для корректного выравнивания */
}

.portfolio-list li h3 {
  margin: 16px 16px 8px;
}

.portfolio-list li p {
  font-size: 16px;
  margin: 0 16px 16px;
  line-height: 1.5;
}

.footer-links {
  background-color: #2e2f42; 
  max-height: 312px;
  padding-left: 156px;       
  padding-top: 20px;         
  padding-bottom: 20px;      
  color: white; 
  letter-spacing: 0.02em;    
  
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  text-align: left;
}

.footer-text {
  line-height: 1.5;
  color: var(--footer-text-color);
  max-width: 312px;
  text-align: left;
  margin: 0;
}

.footer-logo .logo-part {
  color:#f4f4fd ;
} 
.visually-hidden {
  visibility: hidden;
  inline-size: 0;
  overflow: hidden;
}

